.faculty-header {
  text-align: center;
}

.faculty-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.faculty-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 8px;
}
